<div class="container-fluid">
  <h2>Registration Form</h2>

  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="userName.invalid && userName.touched" type="text" formControlName="userName" class="form-control">
      
    <div *ngIf="userName.invalid && userName.touched">
      <small *ngIf="userName.errors?.required" class="text-danger">Username is required</small>
      <small *ngIf="userName.errors?.minlength" class="text-danger">Username mast be at least 3 charcters long</small>
      <small *ngIf="userName.errors?.forbiddenName" class="text-danger">Username '{{userName.errors?.forbiddenName.value}}' is not allowed</small>

    </div>
      <!-- <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Username is required</small> -->
      
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input
      [class.is-invalid]="registrationForm.errors?.misMatch" type="password"  formControlName="confirmPassword" class="form-control">
      <small *ngIf="registrationForm.errors?.misMatch" class="text-danger">Passwords are not the same</small>
    </div>

  <div formGroupName="address">

    <div class="form-group">
      <label>City</label>
      <input type="text" formControlName="city" class="form-control">
    </div>

    <div class="form-group">
      <label>State</label>
      <input type="text" formControlName="state" class="form-control">
    </div>

    <div class="form-group">
      <label>Postal Code</label>
      <input type="text" formControlName="postalCode" class="form-control">
    </div>
  </div>

    <button class="btn btn-outline-success"  type="submit">Register</button>
    <button (click)="loadAPI()" class="btn btn-outline-warning ml-2" type="button">Load API Data</button>
   

  </form>

  {{registrationForm.status | json}}
  {{registrationForm.value | json}}
</div>